
html {

    body {

        #frame {

            display:            flex;
            flex-direction:     column;

            #top {
                font-family:        Arial, Helvetica, sans-serif;
            }

            #bottom {

                display:            flex;
                flex-direction:     row;

                #left {

                    width: 50%;

                    textarea { vertical-align: bottom; }

                    #output {
                        overflow: auto;
                        span { color: blue; }
                        span.error { color: red; }
                    }
                    #output > p { overflow-wrap: break-word; }

                }

                #right {

                    width: 50%;

                    #buttons {
                        display:            flex;
                        flex-direction:     column;
                    }

                    #commands {

                        .command {

                            display:            none;
                            padding:            10px 12px;
                            border-radius:      8px;
                            margin:             10px 20px;
                            background-color:   rgb(214, 214, 214);

                            .description {
                                margin-bottom:      8px;
                                font-weight:        bold;
                            }

                            .properties {
            
                                display:            table;
                                width:              calc(100% - 14px);
                                margin-left:        10px;

                                .collection {

                                    // display:          flex;
                                    // flex-direction:   column;
                                    margin-left:        20px;

                                    .properties {
                                        display:            block;
                                    }

                                }

                                .row {

                                    display:            table-row;

                                    .key {
                                        display:            table-cell;
                                        padding-right:      20px;
                                        white-space:        nowrap;
                                    }

                                    .value {

                                        display:            table-cell;
                                        width:              100%;

                                        input {
                                            border:             0;
                                            border-radius:      4px;
                                            margin-bottom:      2px;
                                            padding:            4px 6px 4px 10px;
                                            width:              calc(100% - 16px);
                                        }

                                        select {
                                            border:             0;
                                            border-radius:      4px;
                                            margin-bottom:      2px;
                                            padding:            4px 6px;
                                            width:              100%;
                                        }

                                    }

                                }

                            }

                            .commandButton {
                                border:             0;
                                border-radius:      4px;
                                background-color:   #afafaf;
                                padding:            4px 8px;
                                margin-top:         8px;
                            }

                        }

                    }

                }

            }

        }

    }

}
